package logged

import (
	"foobar/views"
	"foobar/model"
)


templ logged(usuario *model.User) {
	@views.IndexLayout() {
		<p>Logado como: { usuario.Name() }</p>
		<div style="text-align: center;">
			<p>
				<a href="/">index</a>
			</p>
			<p>
				<a href="/logout">logout</a>
			</p>
		</div>
	}
}
