<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mude meu título!</title>
  <!-- <link href="/static/css/styles.css" rel="stylesheet"> -->
  <link href="/static/css/output.css" rel="stylesheet">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <style>
    html,
    body {
      height: 100%;
    }
  </style>

</head>

<body class="flex-wrap flex content-center justify-between flex-col">
  <nav class="w-full flex flex-row-reverse absolute m-3" style="top: 0; right: 0;">
    <a href="/login"><b>Login</b></a> 
  </nav>
    <main class="m-auto">
      {{template "content" .}} 
    </main>
  <footer></footer>
</body>

</html>
