{{define "content"}}
<div class="w-[400px]">
  <div class="my-my-input">
    <label class="my-label">
      E-Mail
    </label>
    <input form="form1" type="email" name="email" class="my-input" placeholder="Insira seu E-Mail..." maxlength="16"
      required>
    <p class="however">
      Lorem ipsum lorem ipsum
    </p>
  </div>
  <div class="my-my-input">
    <label class="my-label">
      Senha
    </label>
    <input form="form1" name="senha" type="password" class="my-input" placeholder="Insira sua senha..." maxlength="16"
      required>
    <p class="however">
      Lorem ipsum lorem ipsum
    </p>
  </div>
  <form id="form1" method="POST" action="/login">
    <button class="btn" type="submit">
      Entrar
    </button>
  </form>
</div>
{{end}}
